@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Sora:wght@100..800&display=swap');

header{
    position: absolute;
    z-index: 99;
    left:50px;
    padding:0rem 2rem 0rem 2rem;
    display: flex;
    width:90%;
    margin: auto;
    align-items: center;
    gap:53rem;
    border-bottom: 1px  solid  black;
    border-radius:8px ;
    border-width: 2px;
opacity: .8;
}
.logo{
    font-size:3rem;
    font-style: bold;
    font-weight: 800;
  font-family: "Poppins", sans-serif;
  color:red;
  opacity:1;
}
.nav_links ul{
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    gap :1rem;
     list-style: none;
     color:red;
}
